@model IEnumerable<EditVideoMetaDataViewModel>
@{
    ViewData["Title"] = "Index";
}

<div>
    @foreach(var v in Model)
    {
    <div class="media rounded bg-light">
        <img class="align-self-start m-3 movie-icon" src="@v.CoverArtBase64" alt="@v.Title" />
        <div class="media-body h-100 border-left border-right pl-3 pr-3 pb-5">
            <h5 class="mt-3 mb-1">@v.Title</h5>
            <span style="font-size: 10px;">@v.Genre</span><br />
            <span style="font-size: 10px;">Rated: @v.ParentalRating.ToString()</span><br />
            @v.Description
        </div>
        <a class="mr-3 ml-3 mt-3" asp-action="UpdateVideoContent" asp-controller="MovieDatabase" asp-route-id="@v.Id"><img style="height: 32px; width: 32px;" src="~/img/edit.png" /></a>
        <a class="mr-3 ml-3 mt-3" asp-action="VideoPlayer" asp-controller="Movies" asp-route-id="@v.Id"><img style="height: 32px; width:32px;" src="~/img/playbutton.png" /></a>
        <a class="mr-3 ml-3 mt-3" asp-action="ChangeCoverArt" asp-controller="MovieDatabase" asp-route-id="@v.Id"><img style="height: 32px; width:32px;" src="~/img/camera.png"/></a>
    </div>
    }
    <br />
</div>

