@model EditVideoMetaDataViewModel
@using StreamNet.DomainEntities.Entities
@{
    ViewData["Title"] = "UpdateVideoContent";
}
<div asp-validation-summary="All" class="text-danger"></div>
<div class="text-center">
    <img class="mb-3" src="@Model.CoverArtBase64" style="width:240px; height:360px;" />
</div>
<form id="videoeditform">
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <div class="form-group input-group">
        <div class="input-group-prepend">
            <label class="input-group-text" asp-for="Title"></label>
        </div>
        <input class="form-control" type="text" asp-for="Title" />
    </div>
    <div class="form-group input-group">
        <div class="input-group-prepend">
            <label class="input-group-text" asp-for="Artists"></label>
            </div>
        <input class="form-control" type="text" asp-for="Artists" />
    </div>
    <div class="form-group input-group">
        <div class="input-group-prepend">
            <label class="input-group-text" asp-for="Genre"></label>
        </div>
        <input class="form-control" asp-for="Genre" />
    </div>
    <div class="form-group input-group">
        <div class="input-group-prepend">
            <label class="input-group-text" asp-for="Series"></label>
        </div>
        <input class="form-control" type="text" asp-for="Series" />
    </div>
    <div class="form-group input-group">
        <div class="input-group-prepend">
            <label class="input-group-text" asp-for="EpisodeNumber"></label>
        </div>
        <input class="form-control" type="text" asp-for="EpisodeNumber" />
    </div>
    <div class="form-group input-group">
        <div class="input-group-prepend">
            <label class="input-group-text" asp-for="ParentalRating"></label>
        </div>
        <select class="form-control" asp-for="ParentalRating" form="videoeditform">
            <option>@ParentalRating.G.ToString()</option>
            <option>@ParentalRating.PG.ToString()</option>
            <option>@ParentalRating.PG13.ToString()</option>
            <option>@ParentalRating.R.ToString()</option>
            <option>@ParentalRating.NR.ToString()</option>
        </select>
    </div>
    <div class="form-group input-group">
        <div class="input-group-prepend">
            <label class="input-group-text" asp-for="Description"></label>
        </div>
        <textarea class="form-control" asp-for="Description" form="videoeditform"></textarea>
    </div>
    <div class="form-group input-group">
        <div class="input-group-prepend">
            <label class="input-group-text" asp-for="AvailableToUsers"></label>
        </div>
        <input class="form-control form-check" asp-for="AvailableToUsers" type="checkbox" />
    </div>
    <div class="form-group container">
        <div class="row">
            <div class="col-sm">
                <input class="form-control btn-primary" type="submit" value="Save" formmethod="post" />
            </div>
            <div class="col-sm">
                <button class="form-control btn-secondary" asp-controller="MovieDatabase" asp-action="Index">Cancel</button>
            </div>
        </div>
    </div>
</form>

