@model EditVideoMetaDataViewModel
@using StreamNet.DomainEntities.Entities
@{
    ViewData["Title"] = "UpdateVideoContent";
}
<div asp-validation-summary="All" class="text-danger"></div>
<div>
    <img src="@Model.CoverArtBase64" />
</div>
<form id="videoeditform" method="post">
    <input type="hidden" asp-for="@Model.Id" value="@Model.Id" />
    <div class="form-group">
        <label asp-for="@Model.CoverArtFile"></label>
        <input class="form-control" asp-for="@Model.CoverArtFile" type="file" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Title">@Model.Title</label>
        <input class="form-control" type="text" asp-for="@Model.Title" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Artists">@Model.Artists</label>
        <input class="form-control" type="text" asp-for="@Model.Artists" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Genre">@Model.Genre</label>
        <input class="form-control" asp-for="@Model.Genre" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Series">@Model.Series</label>
        <input class="form-control" type="text" asp-for="@Model.Series" />
    </div>
    <div>
        <label asp-for="@Model.EpisodeNumber">@Model.EpisodeNumber</label>
        <input class="form-control" type="text" asp-for="@Model.EpisodeNumber" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.ParentalRating">@Model.ParentalRating</label>
        <select class="form-control" asp-for="@Model.ParentalRating" form="videoeditform">
            <option>@ParentalRating.G.ToString()</option>
            <option>@ParentalRating.PG.ToString()</option>
            <option>@ParentalRating.PG13.ToString()</option>
            <option>@ParentalRating.R.ToString()</option>
            <option>@ParentalRating.NR.ToString()</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Description">@Model.Description</label>
        <input class="form-control" asp-for="@Model.Description" type="text" multiple />
    </div>
    <div class="form-group">
        <label asp-for="@Model.AvailableToUsers">@Model.AvailableToUsers</label>
        <input class="form-control form-check" asp-for="@Model.AvailableToUsers" type="checkbox" />
    </div>
    <div class="form-group">
        <input class="form-control" type="submit" value="Upload"/>
    </div>
</form>

