@model StreamNetServer.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<div asp-validation-summary="All" class="text-danger"></div>
<form method="post" class="form-group">
    <div class="form-control">
        <label asp-for="@Model.UserName"></label>
        <input type="text" asp-for="@Model.UserName" />
    </div>
    <div class="form-control">
        <label asp-for="@Model.Password"></label>
        <input type="password" asp-for="@Model.Password" />
    </div>
    <div class="form-control">
        <input type="checkbox" asp-for="@Model.StayLoggedIn" class="form-check-input" />
        <label asp-for="@Model.StayLoggedIn" class="form-check-label"></label>
    </div>
    <div class="form-control">
        <input type="submit" value="Login" />
    </div>
</form>

